@use "./utils.scss";

.race {
  height: 100%;
  min-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include utils.smallTable {
    min-width: unset;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    @include utils.middle {
      width: auto;
      flex-direction: column;
    }

    &-right {
      flex-basis: 60%;
      flex-shrink: 1;

      & img {
        width: 100%;
      }
    }
  }

  &__lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    @include utils.middle {
      justify-content: center;
      width: auto;
    }
  }

  &__not-updated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - utils.$nav-height);

    &-text {
      font-size: 24px;
      margin: 20px 0;
    }

    &-button {
      margin-top: 20px;
      padding: 15px 25px;
      border: 2px utils.$highlight-bg solid;
      border-radius: 25px;
      cursor: pointer;
    }
  }

  //Race info
  &__info {
    padding: 20px 0;
    &-racename {
      font-size: 32px;
      font-weight: bold;

      @include utils.mobile {
        font-size: 24px;
      }
    }
    &-circuit {
      font-size: 24px;
      font-weight: bold;

      @include utils.mobile {
        font-size: 18px;
      }
    }
    &-racetime {
      width: 180px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-right: 10px;

      @include utils.mobile {
        font-size: 14px;
      }

      &-timebutton {
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        white-space: nowrap;

        @include utils.mobile {
          font-size: 14px;
        }

        &--active {
          @extend .race__info-racetime-timebutton;
          @include utils.underline;
        }
      }

      &-wrapper {
        display: flex;
        align-items: center;
        font-size: 16px;
      }
    }

    &-location {
      font-size: 14px;
      @include utils.mobile {
        font-size: 13px;
      }
    }
  }

  //Table
  &__result {
    display: flex;
    justify-content: center;
    align-items: center;

    @include utils.mobile {
      font-size: utils.$mobile-font-size;
    }

    &-pos,
    &-no,
    &-laps,
    &-points {
      width: 70px;
      @include utils.smallTable {
        width: 50px;
      }
      @include utils.mobile {
        width: 40px;
      }
    }

    &-driver {
      width: 200px;
      & span {
        margin-right: 5px;
      }
      @include utils.mobile {
        width: 150px;
      }
    }

    &-constructor,
    &-time {
      width: 150px;
    }

    &-time {
      @include utils.smallTable {
        width: 140px;
      }

      @include utils.mobile {
        width: 100px;
      }
    }

    & table {
      height: 750px;
      padding: 20px 0px;
    }

    & th {
      text-align: start;
    }

    &-no,
    &-constructor,
    &-laps {
      @include utils.smallTable {
        display: none;
      }
    }
  }
}
