@use "./utils.scss";

.schedule {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  height: 800px;
  // height: 100%;
  // width: 100%;
  // width: 300px;
  overflow: auto;
  margin-top: auto;
  // flex-basis: 20%;
  flex-shrink: 0; // white-space: nowrap;

  &__race {
    // height: 100%;
    // width: 300px;
    // width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    // background-color: utils.$race-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--actived {
      @extend .schedule__race;
      background-color: utils.$highlight-bg;
      color: utils.$highlight-text;
      font-weight: bold;
    }

    &--coming-race {
      @extend .schedule__race;
      opacity: 0.4;
      cursor: auto;
    }

    &-flag {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      & img {
        width: 50px;
      }
    }
    &-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}
