@use "./utils.scss";

.standing {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - utils.$nav-height);

  &__mode {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    &-button {
      margin: 30px 0;
      margin-right: 30px;
      cursor: pointer;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &--active {
        @extend .standing__mode-button;
        @include utils.underline;
      }
    }
  }

  &__table {
    @include utils.mobile {
      font-size: utils.$mobile-font-size;
      // font-size: utils.$mobile-font-size;
    }

    &-pos {
      width: 70px;
      @include utils.smallTable {
        width: 50px;
      }
    }

    &-wins {
      width: 70px;
    }

    &-driver {
      width: 200px;
      & span {
        margin-right: 5px;
      }
      @include utils.mobile {
        width: 150px;
      }
    }

    &-constructor {
      width: 150px;
    }

    & table {
      height: 750px;
      padding: 20px 0px;
      margin-bottom: 30px;
    }

    & th {
      text-align: start;
    }

    & td {
      height: 30px;
    }

    &-constructor {
      @include utils.smallTable {
        display: none;
      }
    }
  }
}
