@use "./utils.scss";
@use "./RaceResults.scss";
@use "./Schedule";
@use "./Standings.scss";
@use "./Tabselector.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: utils.$bg-color utils.$primary;
  @include utils.mobile {
    scrollbar-width: none;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: utils.$scroll-bar-width;
  @include utils.mobile {
    display: none;
  }
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: utils.$bg-color;
  border-radius: 10px;
  border: 3px solid utils.$primary;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: utils.$primary;
  background-color: utils.$bg-color;
}

a {
  color: inherit;
  text-decoration: none;
}

.home {
  &__container {
    height: 100%;
    padding: 0 10%;

    @include utils.mobile {
      padding: 0 5%;
    }
  }
}

.--loaded {
  opacity: 1;
}

th {
  text-align: start;
}
