$primary: #fffffe;
$secondary: #444;
$highlight-bg: #fed766;
$highlight-text: #272727;
$bg-color: #272727;

@mixin middle {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
