$primary: #fffffe;
$secondary: #444;
$highlight-bg: #fed766;
$highlight-text: #272727;
$bg-color: #272727;
$scroll-bar-width: 12px;
$nav-height: 80px;

@mixin middle {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin small {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin smallTable {
  @media (max-width: 880px) {
    @content;
  }
}

@mixin underline {
  &:after {
    content: "\200b";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $highlight-bg;
  }
}
